/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background-color: #F8F8FB;
}

ul {
  list-style: none;
}