.container {
  position: relative;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-colour-darker);
  width: 100%;
  box-shadow: 2px 2px 5px black;
}

.logo {
  display: flex;
  background-color: #6f52ed;
  height: 100%;
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.logo__icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.search__container {
  background-color: rgb(31, 31, 31);
  padding: 0.6rem;
  margin-right: 0.5rem;
  box-shadow: 2px 2px 5px inset black;
  color: white;
  border: none;
  border-radius: 50px;
}

.search-bar {
  background-color: rgb(31, 31, 31);
  margin-left: 0.5rem;
  color: white;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
}
