.container {
  margin-top: 1rem;
  background-color: white;
  padding-top: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: max-content;
  border-radius: 5px;
  max-height: max-content;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}
