<div class="container">
  <h1 class="title">{{ country.name }}</h1>
  <div *ngIf="country.flag" class="top">
    <div class="left">
      <div class="flag__container">
        <img src="{{ country.flag }}" alt="='flag" class="flag" />
      </div>
      <div class="info">
        <div class="card">
          <div class="card__icon__container">
            <fa-icon class="card__icon" [icon]="faUser"></fa-icon>
          </div>
          <div class="card__content">
            <h3 class="card__title">Population</h3>
            {{ country.population }}
          </div>
        </div>

        <div class="card">
          <div class="card__icon__container">
            <fa-icon class="card__icon" [icon]="faMapMarkerAlt"></fa-icon>
          </div>
          <div class="card__content">
            <h3 class="card__title">Capital</h3>
            {{ country.capital }}
          </div>
        </div>
      </div>
    </div>
    <!--
  -->

    <app-pie
      *ngIf="pieData.length; else spinner"
      [title]="pieTitle"
      [data]="pieData"
      [countries]="countries"
    ></app-pie>
    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
  <app-bar
    *ngIf="barData.length"
    [title]="barTitle"
    [data]="barData.slice(barData.length - periodOfTime)"
    [countries]="countries"
  ></app-bar>
</div>
